
<div class="row">

	<div class="col-md-8">
        <h1>Add course</h1>
		<form  action="/course/add" method="POST" >
			<h2>{{question.text}}</h2>
			<input type="text" name="name" placeholder="name of course" value="">
			<input type="text" name="description" value="" placeholder="describe the course">

			<button class="btn btn-success">Answer</button>
		</form>
	</div>
  	<div class="col-md-4">
		<h2>Progress</h2>

	</div>

</div>
