
<div class="row">
	<div class="col-md-8">
        <h1>Add course</h1>
		<form  action="/course/add" method="POST" >
            <div class="form-group">
                <label for="name">Course name</label>
                <input class="form-control" type="text" name="name" placeholder="Course name">
            </div>

            <div class="form-group">
                <label for="description">Course description</label>
                <input class="form-control" type="text" name="description" placeholder="Course description">
            </div>

			<button class="btn btn-success">Answer</button>
		</form>
	</div>

</div>
