<h1>Courses</h1>
<a href="/course/add">Add course</a>
<table class="table">
    <tr>
        <th>
            Course name
        </th>
    </tr>
    {{#courses}}
        <tr>
            <td>
                <a href="/course/{{id}}">{{name}}</a>
            </td>
            <td>
                <a class="btn btn-success" href="/course/{{id}}/select/3">Allocate</a>
            </td>
        </tr>
    {{/courses}}
</table>
