<h1>Add option</h1>

<form class="" action="/course/{{course_id}}/question/{{question_id}}/option/add" method="post">
    Option : <input type="text" name="option" value="">
    Is correct : <input type="checkbox" name="isAnswer" value="true">
    <input type="submit" name="name" >
</form>
