<h1>Add question</h1>

<form class="" action="/course/{{id}}/question/add" method="post">
    Question : <input type="text" name="question" value="">
    <br>
    <input class="btn" type="submit" name="name" value="Add question">
</form>
