<div class="row">

    <h1>Quiz results</h1>


    {{#quizResults}}
        <h2>{{question}}</h2>

        <div class="alert alert-success" role="alert">{{correctAnswer}}</div>

        {{#if incorrect}}
            <div class="alert alert-danger" role="alert">{{wrongAnswer}}</div>
        {{/if}}


    {{/quizResults}}

</div>
