<h1>User groups</h1>

<a href="/groups/add">Add group</a>


<table class="table">
    <tr>
        {{#groups}}
            <td>
                {{name}}
            </td>
        {{/groups}}
    </tr>
</table>
