
<div class="row">
    <div class="col-md-12">

        <h1>Edit user group</h1>
        <form action="/groups/add" method="POST">
            <div class="form-group {{#if messages.errorFields.[0].firstName }} has-error {{/if}}">
                <label for="name">Group name</label>
                {{userGroup.name}}
            </div>

            <h2>Users</h2>
            <table class="table">
                {{#users}}
                <tr>
                    <td>
                        <input type="checkbox" name="userId" value="{{_id}}">
                    </td>
                    <td>
                        {{firstName}}
                    </td>
                    <td>
                        {{lastName}}
                    </td>
                </tr>
                {{/users}}
            </table>

            <button class="btn btn-success">Edit group</button>
        </form>
    </div>
    <style media="screen">
        error-messages {

        }
    </style>
</div>
