<h1>User groups</h1>

<a href="/groups/add" class="btn btn-primary">Add group</a>


<table class="table">
    {{#groups}}
    <tr>
            <td>
                <a href="/groups/edit/{{id}}">{{name}}</a>
            </td>
            <td>
                <a href="/groups/allocate/{{id}}" class="btn btn-success">Allocate quiz</a>
            </td>

    </tr>
    {{/groups}}
</table
