<h1>Add question</h1>

<form class="" action="/courses/{{course_id}}/question/add" method="post">
    <input type="text" name="question" placeholder="enter question " value="">
    <input type="submit" class="btn btn-warning">
</form>
