<div class="row">
    <h1>Courses</h1>

    <a class="btn btn-primary" href="/course/add">Add course</a>

    <table class="table">
        <tr>
            <th>
                Course name
            </th>
            <th>
                Actions
            </th>
        </tr>
        {{#courses}}
            <tr>
                <td>
                    <a href="/course/{{id}}">{{name}}</a>
                </td>
                <td>
                    <a class="btn btn-warning" href="/course/edit/{{id}}">Edit</a>
                    <a class="btn btn-info" href="/quiz/allocate/{{id}}">Allocate</a>
                </td>
            </tr>
        {{/courses}}
    </table>
</div>
