<h1>Confirm quiz reset</h1>

<div class="center-block">
    <div class="alert alert-danger" role="alert">Are you sure you want to reset this quiz?</div>


    <form class="" action="/quiz/{{quiz_id}}/group/{{group_id}}/reset" method="post">
        <input class="btn btn-danger btn-large" type="submit" name="name" value="Reset quiz">
    </form>
</div>
